<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pioneer3dx">
  
  <xacro:include filename="$(find v4r_gazebo)/xacro/pioneer3dx_body.xacro"/>
  <xacro:include filename="$(find v4r_gazebo)/xacro/hokuyo.xacro"/>
  
  <xacro:p3dx_body />
  <xacro:front_laser xyz="0.16 0 0.1" rpy="0 0 0"/>

</robot>
