<launch>

   <!-- Gazebo  -->
  <include file="$(find v4r_gazebo)/launch/world.launch" />
  
   <!-- RVIZ -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find v4r_gazebo)/launch/pioneer3dx.rviz"/>
  
   <!-- Robot -->
  <include file="$(find v4r_gazebo)/launch/pioneer3dx.gazebo.launch" />
  
   <!-- Robot -->
  <include file="$(find v4r_gazebo)/launch/spawn_room.launch" />
  
   <!-- rqt_console -->
   <!-- node pkg="rqt_console" type="rqt_console" name="rqt_console" /-->

</launch>
