<?xml version='1.0'?>
<database>
<name>model database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://room_aula_HD</uri>
<uri>file://room_floragasse</uri>
<uri>file://room_gh25</uri>
<uri>file://room_simple</uri>
<uri>file://room_hbf</uri>
<uri>file://room_hbf_lvl0</uri>
<uri>file://tag0001</uri>
</models>
</database>

